small {
	color: red;
}

.disabled-link {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
	color: red;
}
.main-container {
	float: left;
	position: relative;
	left: 50%;
}

.fixer-container {
	float: left;
	position: relative;
	left: -50%;
}